<template>
    <div id="customer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Customer List</div>
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                        </tr>
                       

                            <tr>
                                <td>
                                   Reza
                                </td>
                                <td>
                                   reza@gmail.com
                                </td>
                            </tr>
                        
                    </table>
                  
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return{
                customers:[];
            }
        },
        mounted() {
            console.log('Component mounted.')
            this getData();
        },
        methods:{
            getData(){
                axious.get('/api/customers')
                .then(response=>{
                   //this.customers=response.data.data
                   console.log(response)
                })
                .catch(e=>{
                    console.log(e)
                })
            }
        }
    }
</script>
